<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h3><%= 1 + 2 %></h3>
    Lorem ipsum dolor sit amet consectetur 
    adipisicing elit. Hic numquam, quibusdam eius 
    voluptas excepturi ab saepe et harum magni nobis 
    recusandae laborum, illum repellendus dicta cum 
    a. Nisi, officiis impedit!
</body>
</html>