<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <h1>New chat here</h1>
    <form method="post" action="/chats">
        <input placeholder="From" name="from">
        <br><br>
        <textarea name="msg" placeholder="message" cols="30" rows="10"></textarea>
        <br><br>
        <input placeholder="To" name="to">
        <br><br>
        <button>Chatit</button>
    </form>
</body>
</html>