<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome new user</title>
</head>
<body>
    <form method="post" action="/users">
        <input name = "username" placeholder="Enter you fun name">
        <input name = "email" placeholder="Enter you fun mail">
        <input type ="password" name = "password" placeholder="Enter you password">
        <button>submit</button>
    </form>
</body>
</html>