#yes{
    background-color: pink;
    height: 50px;
    width: 900px;
    display: flex;
    border-radius: 8px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: blue 2px solid;

}

#yes div{
    height: 50px;
    width: 80px;
    font-size: 1.5em;
    border-radius: 8px;
    margin-left: 5px;
    /* background-color: brown; */
    line-height: 50px;
}